# This file contains a list of patterns which git will check against on each
# 'git add' command and will ignore any matching files and folders.

# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# libraries
*.so
*.dll
*.a
*.lib
liblomse*

# executables
*.exe

# documentation building
*.py[co]
*.sw[nop]
.#*
[#]*#
__pycache__

# logs and temporary files
forensic_log*
lomse-log*
dbg_tables*
last-commit-msg*
*~

# example files
cmake-example*

# documentation drafts
./docs/html/drafts-for-mws

# folders for building
build/
bin/
examples/**

# scripts
scripts/
commit-lomse.sh
./docs/html/to_web

# test scores
test-scores/X*
test-scores/regression/
test-scores/MusicXML/

# my private files
z_*
x_*

