#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
DEB_BUILD_OPTIONS += LOMSE_BUILD_TESTS=OFF

#%:
#    dh $@ --buildsystem=cmake
#
#override_dh_auto_configure:
#    cmake -DLOMSE_BUILD_TESTS=OFF



