/* extra CSS for lomse. doxygen 1.8.6 */

/* change style of header titles */
h1, h2, h3, h4, h5, h6 
{
    color: #616FDC;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 100%;
}

/* more space before lower level headers */
h2, h3, h4, h5, h6
{
	margin-top: 2.5em;
}


/* doxygen headers also with the same color */
h1.groupheader, h2.groupheader, h3.groupheader, h4.groupheader, h5.groupheader, h6.groupheader
{
    color: #616FDC;
}

/* background for page banner */
div#titlearea
{
    background-color: #505a6b;  /* gris azulado */
    color: #ffffff;
    border: none;
}

/* links in orange */
a.el:link, a.el:visited { 
	text-decoration: none;
	color: #ff6000;
}
a.el:hover {
    color: #ff0000;
	border-bottom: 1px dotted #ff0000;
}

/* background of member prototypes *//*
.memproto, dl.reflist dt
{
    background-image: none;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

.memdoc, dl.reflist dd {
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
*/

/* change colors in pages TOC box */
div.toc
{
    background-color: #f7f7f7;
    border: 1px solid #dbdbdb;
}

/* remove background color in footer */
.navpath ul         /* empty space */
{
	background-image: none;
	background-repeat: no-repeat;
	background-color: #ffffff;
    border: none;
    border-top: 1px solid #dddddd;
}

.navpath li          /* content */
{
	background-image: none;
	background-repeat: no-repeat;
	background-color: #ffffff;
    border: none;
}

/* items in left navigation panel */
span.label a, span.label a:visited {
	color: #000000;
}

span.label a:hover {
	color: #ff0000;
}

/* remove background color in left navigation panel */
#nav-tree               /* background (empty space) in left navigation menu */
{
	background-image: none;
	background-repeat: no-repeat;
	background-color: #ffffff;
    border: none;
}

#nav-tree-contents      /* lines in left navigation menu */
{
	background-image: none;
	background-repeat: no-repeat;
	background-color: #ffffff;
    border: none;
}

/* main menu */
.tabs, .tabs2, .tabs3 {
    background-image: none; /*url('tab_b.png');*/
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #d0d0d0;  /**/
    background-color: #505a6b;  /**/
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: none; /*url('tab_b.png');*/
    line-height: 36px;
    list-style: none;
    background-color: #505a6b;  /**/
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image: none; /*url('tab_s.png');*/
    background-repeat:no-repeat;
    background-position:right;
    color: #ffa000; /*#303030;*/
    /*text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);*/
    text-shadow: none;  /**/
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-image: none; /*url('tab_h.png');*/
    background-color: #7f8adc;  /**/
    background-repeat:repeat-x;
    color: #fff;
    /*text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);*/
    text-shadow: none;  /**/
    text-decoration: none;
}

.tablist li.current a 
{
    background-image: none; /*url('tab_a.png');*/
    background-color: #505a6b;     /**/
    background-repeat:repeat-x;
    color: #fff;
    /*text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);*/
    text-shadow: none;  /**/
}

/* add some space between lits items */
div.textblock ul li, div.textblock ol li
{
	margin-top:10px;
}


/* links in orange when inside text */
div.textblock a:link, div.textblock a:visited { 
	text-decoration: none;
	color: #ff6000;
}
div.textblock a:hover {
    color: #ff0000;
	border-bottom: 1px dotted #ff0000;
}

/* lomse defined literals */
span.literal {
    text-decoration: none;
    font-weight: bold;
    font-family: monospace, fixed;
}

/* border around images */
div.image img {
    border: 1px solid #C4CFE5;
}

/* caption for images in italics. And some bottom margin */
.caption
{
	font-weight: bold;
    font-style: italic;
    margin-bottom: 3em;
}

code {
    font-family: monospace, fixed;
    font-size: 110%;
    color: #444444;
}

/*----------------------------------------------------------------------------
CSS selectors summary:

* descendant:  h1 em
    em inside h1:           h1 { color: red } em { color: red } h1 em { color: blue }

* child:    div ol > li p
     element that is a descendant of an LI; the LI element must be the child of an OL element; the OL element must be a descendant of a DIV 

* Adjacent sibling  h1 + h2
    h2 immediately following h1:    i.e. reduce the vertical space separating an H1 and an H2:
                                         h1 + h2 { margin-top: -5mm }   
* Class selectors
    .classname              applies to all elements with class = classname
    h1.classname            all h1 with class == classname
    p.marine.pastoral       P elements with both classes, marine and pastoral

* ID selectors
    #idname                 applies to all elements with id = idname
    h1#idname               all h1 with id = idname

----------------------------------------------------------------------------*/

