/* RCS-ID: $Id: singledoc.css,v 1.2 2005/11/03 17:00:35 cecilios Exp $ */
/* CSS Style Sheet for stand-alone documents */

/* Etiquetas HTML */
BODY {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3em;
    FONT-FAMILY: Verdana, Helvetica, Arial;
    FONT-SIZE: 8pt; voice-family: inherit;
    BACKGROUND: #ffffff;
    COLOR: #000000;
}
HR {
    MARGIN: 2em 0px; HEIGHT: 1px;
    BACKGROUND-COLOR: #000000; COLOR: #c0c0c0; 
}

SELECT {
    color:#666666;
    voice-family: inherit;
}

TEXTAREA {
    color:#666666; border: 1px solid #ababab;
    voice-family: inherit;
}
INPUT {
    voice-family: inherit;
    COLOR: #666666; border: solid 1px #ababab;
}
H1 {
    MARGIN: 1em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    COLOR: #7f8adc;
    FONT-WEIGHT: bold; FONT-SIZE: 160%
}
H2 {
    MARGIN: 1em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    COLOR: #1C2567;
    FONT-WEIGHT: normal; FONT-SIZE: 150%
}
H3 {
    MARGIN: 1em 0px 0.2em;
    BORDER-BOTTOM: #ccc 1px solid; 
    COLOR: #1C2567;
    FONT-SIZE: 120%
}
H4 {
    MARGIN: 1em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    color: #1C2567;
    FONT-SIZE: 100%
}
H5 {
    MARGIN: 1em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    COLOR: #1C2567;
    FONT-SIZE: 90%
}
H6 {
    MARGIN: 1em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    color: #1C2567;
    FONT-SIZE: 90%; 
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
    DISPLAY: inline; MARGIN: 0px
}

pre {
    background: #f0f0f0;
}


:link {
    COLOR: #FE6903
}
:visited {
    COLOR: #FE6903
}
:hover {
    COLOR: #ff0000
}
:active {
    COLOR: #000
}
:link IMG {
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; 
    BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
:visited IMG {
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; 
    BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}

HR.hide {
    DISPLAY: none
}

/* classes */
.warning {
    color: #ff0000;
    font-weight: bold;
}

/* Elementos con id= */
#container {
    MARGIN: 0px auto; max-width: 70em
    width: 90%;
    padding: 2em; 
    border: 1px solid gray; 
    background: white;
}
#mBody {
    CLEAR: both; 
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}

#mainContent {
    MARGIN-LEFT: 230px;      /* ancho de #side + 20px de separación */
    LINE-HEIGHT: 1.3
}

/* to copy also in screen.css */
code, pre, tt {
    font-family: Courier, "Courier New", monospace;

}

/* classes for LDP language description and examples */
.important, div.note {
    padding-left: 2em;
    padding-right: 1em;
    margin-left: 0em;
    margin-right: 0em;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
}

.example {
    padding-left: 1em;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f4f4f4;
    border: none;
}

q.example {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #f4f4f4;
    border: none;
}

pre.ldpcode {
    margin: 5px 0;
    padding-right: 2px;
    padding-left: 2px;
    background-color: #f4f4f4;
    border: none;
}

span.t {    /* terminal symbols */
    color: blue;
    font-weight: bold;
}
span.nt {   /* non-terminal symbols */
    color: Green;
    font-weight: normal;
    font-style: italic;
}

.grid {
    border : 1px solid #bbbbbb;
    padding : 4px;
    border-collapse: collapse;
}


/* elementos con class para paginas específicas */
P.TituloPagina {
    COLOR: #7f8adc; MARGIN: 0em; FONT: bold 160% Verdana;
}

DIV.rayaVertical {
    MARGIN-TOP: 12px; BACKGROUND: #c0c0c0; WIDTH: 1px; HEIGHT: 100%
}
.margenRaya {
    WIDTH: 10px; HEIGHT: 1px
}
.pixel {
    WIDTH: 1px; HEIGHT: 1px
}
TABLE.headline {
    MARGIN-TOP: 12px
}
.bullet {
    PADDING-RIGHT: 6px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; 
    FONT: 70% Verdana; COLOR: #a6a6a6; PADDING-TOP: 2px
}
.label {
    FONT: bold 100% Verdana; COLOR: #7f8adc;
}
P.blurb {
    MARGIN: 0em;
}

table, td, tr {
    FONT-SIZE: 8pt; voice-family: inherit;
}

.Lista {
    border : 1px solid #7f8adc;
    padding : 0px;
    border-collapse: collapse;
    FONT-SIZE: 8pt; voice-family: inherit;
}

.ListaImpar {
    background-color : #dfe1f7;
    border : 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    FONT-SIZE: 8pt; voice-family: inherit;
}

.ListaPar {
    background-color : #ffffff;
    border: 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    FONT-SIZE: 8pt; voice-family: inherit;
}

/* docbook */
.term {
    FONT: bold 100% Verdana;
}

dd {
    margin-bottom: 12px;
}

